In [1]:
import requests
import pandas as pd
import collect_data

In [40]:
df_NFT = pd.read_csv('data/number_sales_and_sales_USD.csv')

In [42]:
df_NFT

                DateTime  Number of sales     Sales USD
0    2021-10-05 00:00:00         155357.0  1.364461e+08
1    2021-10-06 00:00:00         155473.0  1.213496e+08
2    2021-10-07 00:00:00         177956.0  1.394448e+08
3    2021-10-08 00:00:00         185412.0  1.300712e+08
4    2021-10-09 00:00:00         151595.0  9.283788e+07
..                   ...              ...           ...
362  2022-10-02 00:00:00          31828.0  1.020954e+07
363  2022-10-03 00:00:00          19772.0  1.174712e+07
364  2022-10-04 00:00:00          21044.0  1.071297e+07
365  2022-10-05 10:02:08          24560.0           NaN
366  2022-10-05 10:02:09              NaN  1.003239e+07

[367 rows x 3 columns]

In [35]:
df_ETH = pd.read_csv('data/ETH-USD.csv')

In [37]:
df_ETH.rename(columns={"Open":"open_ETH", "High":"high_ETH", "Low":"low_ETH", "Close":"close_ETH", "Adj Close":"adj_close_ETH", "Volume":"volume_ETH"})

,Date,open_ETH,high_ETH,low_ETH,close_ETH,adj_close_ETH,volume_ETH
0,2021-10-05,3381.784424,3541.451660,3365.817627,3518.518555,3518.518555,16632591670
1,2021-10-06,3516.570313,3622.551270,3354.469727,3580.562012,3580.562012,21855226591
2,2021-10-07,3576.814453,3650.013184,3479.909180,3587.974854,3587.974854,19090322927
3,2021-10-08,3587.832764,3667.957520,3547.828125,3563.759277,3563.759277,16222029488
4,2021-10-09,3559.997803,3628.237305,3544.640381,3575.716797,3575.716797,12707036942
...,...,...,...,...,...,...,...
361,2022-10-01,1328.193726,1332.516479,1306.102539,1311.644409,1311.644409,6227961237
362,2022-10-02,1311.753418,1316.330078,1275.336060,1276.093506,1276.093506,7578351650
363,2022-10-03,1276.163452,1326.554443,1271.150879,1323.439209,1323.439209,10153070907
364,2022-10-04,1323.278320,1364.970947,1320.076660,1362.126587,1362.126587,10139774963
365,2022-10-05,1361.961060,1361.961060,1333.963623,1335.372070,1335.372070,9091028992

In [2]:
ranks = collect_data.top100_value()

In [3]:
print(ranks[3].name)
print(ranks[3].address)
BYAC_address = ranks[3].address

BoredApeYachtClub
0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d

In [21]:
BYAC_data = collect_data.collection_price(contract_address=BYAC_address, endtime="2022-10-05T00:00:00Z")

In [22]:
BYAC_data_05 = collect_data.collection_price(contract_address=BYAC_address, endtime="2022-10-06T00:00:00Z")

In [23]:
BYAC_data['dataPoints'][-1]

{'timestamp': '2022-10-04T00:00:00Z',
 'min': '61.8200392304197776',
 'max': '150',
 'avg': '93.6440078460839555'}

In [24]:
BYAC_data_05['dataPoints'][-1]

{'timestamp': '2022-10-05T00:00:00Z',
 'min': '72.9775957080854495',
 'max': '100.1423550633253784',
 'avg': '84.3566502571369426'}

In [29]:
df_BYAC = pd.DataFrame(BYAC_data['dataPoints']+[BYAC_data['dataPoints'][-1]])

In [30]:
df_BYAC

                timestamp                  min  max                   avg
0    2021-10-05T00:00:00Z               35.269   65   46.1510344827586207
1    2021-10-06T00:00:00Z                 10.5   90            41.5033411
2    2021-10-07T00:00:00Z            21.643836   99   44.6864021176470588
3    2021-10-08T00:00:00Z               31.505   53           39.02653125
4    2021-10-09T00:00:00Z               31.005  110   48.5333470588235294
..                    ...                  ...  ...                   ...
361  2022-10-01T00:00:00Z  50.4028497096936034  777  245.2569624274234009
362  2022-10-02T00:00:00Z                72.99  144    90.392353611981722
363  2022-10-03T00:00:00Z  22.7237874628446507  112   69.2275240368939183
364  2022-10-04T00:00:00Z  61.8200392304197776  150   93.6440078460839555
365  2022-10-04T00:00:00Z  61.8200392304197776  150   93.6440078460839555

[366 rows x 4 columns]

In [33]:
df_BYAC.rename(columns={"min": "min_price_BYAC", "max": "max_price_BYAC", "avg":"avg_price_BYAC"})

,timestamp,min_price_BYAC,max_price_BYAC,avg_price_BYAC
0,2021-10-05T00:00:00Z,35.269,65,46.1510344827586207
1,2021-10-06T00:00:00Z,10.5,90,41.5033411
2,2021-10-07T00:00:00Z,21.643836,99,44.6864021176470588
3,2021-10-08T00:00:00Z,31.505,53,39.02653125
4,2021-10-09T00:00:00Z,31.005,110,48.5333470588235294
...,...,...,...,...
361,2022-10-01T00:00:00Z,50.4028497096936034,777,245.2569624274234009
362,2022-10-02T00:00:00Z,72.99,144,90.392353611981722
363,2022-10-03T00:00:00Z,22.7237874628446507,112,69.2275240368939183
364,2022-10-04T00:00:00Z,61.8200392304197776,150,93.6440078460839555
365,2022-10-04T00:00:00Z,61.8200392304197776,150,93.6440078460839555

In [73]:
df_BYAC.drop('timestamp', axis=1).astype('float64')

           min    max         avg
0    35.269000   65.0   46.151034
1    10.500000   90.0   41.503341
2    21.643836   99.0   44.686402
3    31.505000   53.0   39.026531
4    31.005000  110.0   48.533347
..         ...    ...         ...
361  50.402850  777.0  245.256962
362  72.990000  144.0   90.392354
363  22.723787  112.0   69.227524
364  61.820039  150.0   93.644008
365  61.820039  150.0   93.644008

[366 rows x 3 columns]

In [74]:
df_all = pd.concat([df_ETH.drop(labels="Date",axis=1), df_BYAC.drop('timestamp', axis=1).astype('float64')], axis=1, join='inner')

In [76]:
df_all.corr()

,Open,High,Low,Close,Adj Close,Volume,min,max,avg
Open,1.000000,0.998307,0.996452,0.994385,0.994385,0.091593,-0.381571,-0.181816,-0.469171
High,0.998307,1.000000,0.996610,0.996945,0.996945,0.104323,-0.390260,-0.179390,-0.473976
Low,0.996452,0.996610,1.000000,0.997561,0.997561,0.048475,-0.381714,-0.178204,-0.462961
Close,0.994385,0.996945,0.997561,1.000000,1.000000,0.071375,-0.390844,-0.177929,-0.471658
Adj Close,0.994385,0.996945,0.997561,1.000000,1.000000,0.071375,-0.390844,-0.177929,-0.471658
Volume,0.091593,0.104323,0.048475,0.071375,0.071375,1.000000,-0.095454,-0.004437,-0.187451
min,-0.381571,-0.390260,-0.381714,-0.390844,-0.390844,-0.095454,1.000000,0.031778,0.474809
max,-0.181816,-0.179390,-0.178204,-0.177929,-0.177929,-0.004437,0.031778,1.000000,0.517728
avg,-0.469171,-0.473976,-0.462961,-0.471658,-0.471658,-0.187451,0.474809,0.517728,1.000000