In [20]:
import requests
import pandas as pd
import pickle
import datetime

In [31]:
def datetime_to_day(s):
    return s.split()[0]

In [44]:
def merge_dump(name):
    df = pd.read_csv('data/SVI/SVI_%s.csv'%name, converters={'date':datetime_to_day}).drop(['isPartial'], axis=1)
    new_df = df.groupby('date').sum()
    new_df.to_csv('data/SVI/merged_SVI_%s.csv'%name)
    print(new_df.head())

In [45]:
merge_dump('BAYC_all')

            BAYC
date
2017-06-30   413
2017-07-01   343
2017-07-02   244
2017-07-03   224
2017-07-04   335

In [46]:
merge_dump('cryptopunks_all')

            cryptopunks
date
2017-06-30          240
2017-07-01          132
2017-07-02           22
2017-07-03          175
2017-07-04          411

In [49]:
merge_dump('metaverse_all')

            metaverse
date
2017-06-23         37
2017-06-24        143
2017-06-25        208
2017-06-26        337
2017-06-27        101

In [50]:
merge_dump('NFT_all')

            NFT
date
2017-06-23  129
2017-06-24  114
2017-06-25  266
2017-06-26  252
2017-06-27  134

In [51]:
merge_dump('Uniswap_all')

            Uniswap
date
2021-05-12     1400
2021-05-13      768
2021-05-14      928
2021-05-15      899
2021-05-16      812

In [52]:
merge_dump('KnownOrigin_all')

            KnownOrigin
date
2018-11-10          182
2018-11-11          177
2018-11-12          245
2018-11-13          266
2018-11-14          158

In [53]:
merge_dump('Art Blocks_all')

            Art Blocks
date
2020-12-12          81
2020-12-13         146
2020-12-14         240
2020-12-15          92
2020-12-16         199

In [54]:
merge_dump('Mutant Ape Yacht Club_all')

            Mutant Ape Yacht Club
date
2021-09-05                     97
2021-09-06                    136
2021-09-07                    185
2021-09-08                    192
2021-09-09                    249

In [55]:
merge_dump('Otherdeed_all')

            Otherdeed
date
2022-05-01        681
2022-05-02        429
2022-05-03        216
2022-05-04        452
2022-05-05        246

In [56]:
merge_dump('OpenSea Shared Storefront_all')

            OpenSea Shared Storefront
date
2020-12-27                        136
2020-12-28                        113
2020-12-29                        442
2020-12-30                        150
2020-12-31                        263

In [57]:
merge_dump('Zora_all')

            Zora
date
2021-02-06   895
2021-02-07   682
2021-02-08   677
2021-02-09   714
2021-02-10   562

In [58]:
merge_dump('Rarible_all')

            Rarible
date
2020-07-30      129
2020-07-31      180
2020-08-01      368
2020-08-02      210
2020-08-03      286

In [59]:
merge_dump('ENS_all')

            ENS
date
2020-02-06  736
2020-02-07  642
2020-02-08  731
2020-02-09  823
2020-02-10  708

In [60]:
merge_dump('bored_ape')

            bored ape yacht club
date
2021-10-01                   133
2021-10-02                   134
2021-10-03                   227
2021-10-04                   156
2021-10-05                   264

In [57]:
df_BAYC = pd.read_csv('data/SVI/SVI_BAYC.csv', converters={'date':datetime_to_day}).drop(['isPartial'], axis=1)

In [64]:
new_df = df_BAYC.groupby('date').sum()

            BAYC
date
2021-10-01   300
2021-10-02   335
2021-10-03   155
2021-10-04   179
2021-10-05   221
...          ...
2022-09-26    89
2022-09-27   209
2022-09-28   313
2022-09-29    94
2022-09-30  1290

[365 rows x 1 columns]

In [65]:
new_df[:365].to_csv('data/SVI/merged_SVI_BAYC.csv')

In [20]:
df_BAYC

                     date  BAYC  isPartial
0     2021-10-01 00:00:00     0      False
1     2021-10-01 01:00:00    49      False
2     2021-10-01 02:00:00     0      False
3     2021-10-01 03:00:00     0      False
4     2021-10-01 04:00:00     0      False
...                   ...   ...        ...
8880  2022-10-03 20:00:00    51      False
8881  2022-10-03 21:00:00    34      False
8882  2022-10-03 22:00:00    72      False
8883  2022-10-03 23:00:00    32      False
8884  2022-10-04 00:00:00    45      False

[8885 rows x 3 columns]

# Deal with nonfungible data

In [3]:
name = "average_USD_and_active_market_wallets"
df1 = pd.read_csv('data/nonfungible_alltime/%s.csv'%name)

In [5]:
name = "number_of_sales_and_sales_USD"
df2 = pd.read_csv('data/nonfungible_alltime/%s.csv'%name)

In [6]:
name = "primary_sales_and_secondary_sales"
df3 = pd.read_csv('data/nonfungible_alltime/%s.csv'%name)

In [7]:
name = "primary_sales_USD_and_secondary_sales_USD"
df4 = pd.read_csv('data/nonfungible_alltime/%s.csv'%name)

In [8]:
name = "unique_buyers_and_unique_sellers"
df5 = pd.read_csv('data/nonfungible_alltime/%s.csv'%name)

In [16]:
df_all = df1.merge(df2, how='left', on='DateTime').merge(df3, how='left', on='DateTime').merge(df4, how='left', on='DateTime').merge(df5, how='left', on='DateTime')

In [17]:
df_all

,DateTime,Average USD,Active market wallets,Number of sales,Sales USD,Primary Sales,Secondary sales,Primary sales USD,Secondary sales USD,Unique buyers,Unique sellers
0,2017-06-23 00:00:00,53.70,8,19.0,1020.30,18.0,1.0,953.92,66.38,8,2
1,2017-06-24 00:00:00,59.09,17,21.0,1240.84,21.0,0.0,1240.84,0.00,9,10
2,2017-06-25 00:00:00,39.81,10,13.0,517.55,11.0,2.0,402.33,115.22,7,5
3,2017-06-26 00:00:00,30.33,14,14.0,424.63,14.0,0.0,424.63,0.00,6,8
4,2017-06-27 00:00:00,63.42,22,33.0,2092.91,32.0,1.0,2049.94,42.98,8,15
...,...,...,...,...,...,...,...,...,...,...,...
1958,2022-11-02 00:00:00,1916.38,12225,15697.0,30081434.97,4117.0,11580.0,2624596.78,27456838.19,7401,6269
1959,2022-11-03 00:00:00,1043.25,12464,16355.0,17062305.81,3895.0,12460.0,1112485.36,15949820.45,7487,6250
1960,2022-11-04 00:00:00,1172.42,11724,14349.0,16823092.98,3854.0,10495.0,1091245.43,15731847.55,7090,5804
1961,2022-11-05 00:00:00,894.75,11206,13748.0,12301075.84,3839.0,9909.0,598608.41,11702467.44,6754,5552
1962,2022-11-06 07:44:43,850.89,11185,NaN,NaN,3872.0,NaN,NaN,11248914.91,6786,5531

In [18]:
df_all.to_csv('data_all_alltime.csv')

# BAYC and Cryptopunks prices

In [30]:
def str_to_float(s):
    return float(s)

In [29]:
def null_str_to_nan(s):
    if s=='':
        return np.nan
    else:
        return s

In [ ]:
prices_BAYC = pickle.load(open('data/BAYC_collection_price_full_month.pickle','rb'))
prices_cryptopunks = pickle.load(open('data/cryptopunks_collection_price_full_month.pickle','rb'))

In [ ]:
df_price_BAYC = pd.DataFrame(prices_BAYC).astype({'avg':'float'})
df_price_cryptopunks = pd.DataFrame(prices_cryptopunks).applymap(null_str_to_nan)