In [8]:
import requests
import pandas as pd
import pickle
import datetime

In [21]:
def datetime_to_day(s):
    return s.split()[0]

In [81]:
def merge_dump(name):
    df = pd.read_csv('data/SVI/SVI_%s.csv'%name, converters={'date':datetime_to_day}).drop(['isPartial'], axis=1)
    new_df = df.groupby('date').sum()
    new_df[:365].to_csv('data/SVI/merged_SVI_%s.csv'%name)
    print(new_df.head())

In [82]:
merge_dump('BAYC')

            BAYC
date
2021-10-01   300
2021-10-02   335
2021-10-03   155
2021-10-04   179
2021-10-05   221

In [83]:
merge_dump('cryptopunks')

            cryptopunks
date
2021-10-01          324
2021-10-02          200
2021-10-03          176
2021-10-04          278
2021-10-05          269

In [84]:
merge_dump('metaverse')

            metaverse
date
2021-10-01        303
2021-10-02        210
2021-10-03        423
2021-10-04        495
2021-10-05        374

In [85]:
merge_dump('NFT')

             NFT
date
2021-10-01  1243
2021-10-02  1215
2021-10-03  1253
2021-10-04  1340
2021-10-05  1441

In [86]:
merge_dump('bored_ape')

            bored ape yacht club
date
2021-10-01                   133
2021-10-02                   134
2021-10-03                   227
2021-10-04                   156
2021-10-05                   264

In [57]:
df_BAYC = pd.read_csv('data/SVI/SVI_BAYC.csv', converters={'date':datetime_to_day}).drop(['isPartial'], axis=1)

In [64]:
new_df = df_BAYC.groupby('date').sum()

            BAYC
date
2021-10-01   300
2021-10-02   335
2021-10-03   155
2021-10-04   179
2021-10-05   221
...          ...
2022-09-26    89
2022-09-27   209
2022-09-28   313
2022-09-29    94
2022-09-30  1290

[365 rows x 1 columns]

In [65]:
new_df[:365].to_csv('data/SVI/merged_SVI_BAYC.csv')

In [20]:
df_BAYC

                     date  BAYC  isPartial
0     2021-10-01 00:00:00     0      False
1     2021-10-01 01:00:00    49      False
2     2021-10-01 02:00:00     0      False
3     2021-10-01 03:00:00     0      False
4     2021-10-01 04:00:00     0      False
...                   ...   ...        ...
8880  2022-10-03 20:00:00    51      False
8881  2022-10-03 21:00:00    34      False
8882  2022-10-03 22:00:00    72      False
8883  2022-10-03 23:00:00    32      False
8884  2022-10-04 00:00:00    45      False

[8885 rows x 3 columns]